{% load static %}

<!DOCTYPE html>
<html class="scheme_original" lang="en-US">

	<head>
		<title>Juno Toys and Games</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link property="stylesheet" rel='stylesheet' href='{% static "js/vendor/essgrid/settings.css" %}' type='text/css' media='all' />
		<link property="stylesheet" rel='stylesheet' href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Fredoka+One|Open+Sans:300,400,600,700,800|Raleway:100,200,300,400,500,600,700,800,900|Ubuntu:300,300i,400,400i,500,500i,700,700i&#038;ver=4.6.3' type='text/css' media='all' />
		<link property="stylesheet" rel='stylesheet' href='{% static "js/vendor/revslider/settings.css" %}' type='text/css' media='all' />
		<link property="stylesheet" rel='stylesheet' href='{% static "js/vendor/woo/woocommerce-layout.css" %}' type='text/css' media='all' />
		<link property="stylesheet" rel='stylesheet' href='{% static "js/vendor/woo/woocommerce-smallscreen.css" %}' type='text/css' media='only screen and (max-width: 768px)' />
		<link property="stylesheet" rel='stylesheet' href='{% static "js/vendor/woo/woocommerce.css" %}' type='text/css' media='all' />
		<link property="stylesheet" rel='stylesheet' href='{% static "css/socials.css" %}' type='text/css' media='all' />
		<link property="stylesheet" rel='stylesheet' href='{% static "css/fontello/css/fontello.css" %}' type='text/css' media='all' />
		<link property="stylesheet" rel='stylesheet' href='{% static "css/style.css" %}' type='text/css' media='all' />
		<link property="stylesheet" rel='stylesheet' href='{% static "css/core.animation.css" %}' type='text/css' media='all' />
		<link property="stylesheet" rel='stylesheet' href='{% static "css/theme.shortcodes.css" %}' type='text/css' media='all' />
		<link property="stylesheet" rel='stylesheet' href='{% static "css/theme.css" %}' type='text/css' media='all' />
		<link property="stylesheet" rel='stylesheet' href='{% static "js/vendor/woo/plugin.woocommerce.css" %}' type='text/css' media='all' />
		<link property="stylesheet" rel='stylesheet' href='{% static "css/responsive.css" %}' type='text/css' media='all' />
		<link property="stylesheet" rel='stylesheet' href='{% static "js/vendor/mediaelement/mediaelementplayer.min.css" %}' type='text/css' media='all' />
		<link property="stylesheet" rel='stylesheet' href='{% static "js/vendor/grid.layout/grid.layout.min.css" %}' type='text/css' media='all' />
		<link property="stylesheet" rel='stylesheet' href='{% static "css/custom/custom.css" %}' type='text/css' media='all' />
		<link property="stylesheet" rel='stylesheet' href='{% static "css/custom/plugins.css" %}' type='text/css' media='all' />
		<link property="stylesheet" rel='stylesheet' href='{% static "css/core.messages.css" %}' type='text/css' media='all' />
		<link property="stylesheet" rel='stylesheet' href='{% static "js/vendor/magnific/magnific-popup.css" %}' type='text/css' media='all' />
		<link property="stylesheet" rel='stylesheet' href='{% static "js/vendor/swiper/swiper.min.css" %}' type='text/css' media='all' />
		<link property="stylesheet" rel='stylesheet' href='{% static "js/vendor/essgrid/lightbox.css" %}' type='text/css' media='all' />

		<link rel="icon" href="{% static 'images/cropped-big_favicon-32x32.png' %}" />
		<link rel="icon" href="{% static 'static/images/cropped-big_favicon-192x192.png' %}" />
		<link rel="apple-touch-icon-precomposed" href="{% static 'images/cropped-big_favicon-180x180.png' %}" />
		<meta name="msapplication-TileImage" content="{% static 'images/cropped-big_favicon-270x270.png' %}" />
	</head>

				{% block main %} {% endblock main %}

</html>