{% load static %}
<footer class="contacts_wrap scheme_original">
    <div class="contacts_wrap_inner">
        <div class="content_wrap">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img alt="" class="logo_footer" height="60" src="{% static 'images/logo-footer.png' %}" width="121">
                </a>
            </div>
            <div class="contact_info">
                Make play time a blast with our finest toys and games!
            </div>
            <div class="sc_socials sc_socials_type_images sc_socials_shape_square sc_socials_size_large">
                <div class="sc_socials_item">
                    <a class="social_icons social_twitter" href="#" target="_blank">
                        <span class="sc_socials_hover"></span>
                    </a>
                </div>
                <div class="sc_socials_item">
                    <a class="social_icons social_facebook" href="#" target="_blank">
                        <span class="sc_socials_hover"></span>
                    </a>
                </div>
                <div class="sc_socials_item">
                    <a class="social_icons social_vimeo" href="#" target="_blank">
                        <span class="sc_socials_hover"></span>
                    </a>
                </div>
                <div class="sc_socials_item">
                    <a class="social_icons social_pinterest" href="#" target="_blank">
                        <span class="sc_socials_hover"></span>
                    </a>
                </div>
                <div class="sc_socials_item">
                    <a class="social_icons social_linkedin" href="#" target="_blank">
                        <span class="sc_socials_hover"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>