
{% extends 'base.html' %}
{% block main %}
{% load static %}
<body class="single single-product woocommerce woocommerce-page body_filled article_style_stretch scheme_original top_panel_above sidebar_hide wpb-js-composer vc_responsive">
<a id="toc_home" class="sc_anchor" title="Home" data-description="&lt;i&gt;Return to Home&lt;/i&gt; - &lt;br&gt;navigate to home page of the site" data-icon="icon-home" data-url="index.html" data-separator="yes"></a>
<a id="toc_top" class="sc_anchor" title="To Top" data-description="&lt;i&gt;Back to top&lt;/i&gt; - &lt;br&gt;scroll to top of the page" data-icon="icon-double-up" data-url="" data-separator="yes"></a>
<div class="body_wrap">
    <div class="page_wrap">
        <div class="top_panel_fixed_wrap"></div>

        {% include 'header.html' %}

        <div class="top_panel_title top_panel_style_6  title_present navi_present breadcrumbs_present scheme_original">
            <div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
                <div class="content_wrap">
                    <div class="post_navi">
                        <span class="post_navi_item post_navi_next">
                            <a href="single-product.html" rel="next">VTech Sit-to-Stand Learning Walker</a>
                        </span>
                    </div>
                    <div class="breadcrumbs">
                        <a class="breadcrumbs_item home" href="index.html">Home</a>
                        <span class="breadcrumbs_delimiter"></span>
                        <a class="breadcrumbs_item all" href="shop.html">Shop</a>
                        <span class="breadcrumbs_delimiter"></span>
                        <a class="breadcrumbs_item cat_post" href="#">Arts &amp; Crafts</a>
                        <span class="breadcrumbs_delimiter"></span>
                        <span class="breadcrumbs_item current">Bruder Toys Mini Excavator Vehicle</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="page_content_wrap page_paddings_yes">
            <div class="content_wrap">
                <div class="content">
                    <article class="post_item post_item_single post_item_product">
                        <nav class="woocommerce-breadcrumb">
                            <a href="index.html">Home</a>&nbsp;&#47;&nbsp;
                            <a href="#">Outdoor Games</a>&nbsp;&#47;&nbsp;Bruder Toys Mini Excavator Vehicle
                        </nav>
                        <div class="product has-post-thumbnail first">
                            <div class="images">
                                <a href="{% static 'images/product_3.jpg' %}" class="woocommerce-main-image zoom" title="" data-rel="prettyPhoto">
                                    <img width="600" height="600" src="{% static 'images/product_3-600x600.jpg' %}" class="attachment-shop_single size-shop_single" alt="" title="TOY 3" />
                                </a>
                            </div>
                            <div class="summary entry-summary">
                                <h1 class="product_title entry-title">Bruder Toys Mini Excavator Vehicle</h1>
                                <div>
                                    <p class="price">
                                        <span class="woocommerce-Price-amount amount">
                                            <span class="woocommerce-Price-currencySymbol">&#36;</span>42.24
                                        </span>
                                    </p>
                                </div>
                                <div>
                                    <p>
                                        Qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit,
                                        amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt,
                                        ut labore et dolore magnam aliquam quaerat voluptatem. ut enim ad minima veniam,
                                        quis nostrum exercitationem ullam corporis suscipit laboriosam,
                                        nisi ut aliquid ex ea commodi consequatur.
                                    </p>
                                </div>
                                <form class="cart" method="post" enctype='multipart/form-data'>
                                    <div class="quantity">
                                        <input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="[0-9]*" inputmode="numeric" />
                                    </div>
                                    <input type="hidden" name="add-to-cart" value="263" />
                                    <button type="submit" class="single_add_to_cart_button button alt">Add to cart</button>
                                </form>
                                <div class="product_meta">
                                    <span class="posted_in">Categories:
                                        <a href="#" rel="tag">Arts &amp; Crafts</a>,
                                        <a href="#" rel="tag">Outdoor Games</a>
                                    </span>
                                    <span class="tagged_as">Tags:
                                        <a href="#" rel="tag">Best Sellers</a>,
                                        <a href="#" rel="tag">outdoor</a>,
                                        <a href="#" rel="tag">play</a>
                                    </span>
                                    <span class="product_id">Product ID:
                                        <span>263</span>
                                    </span>
                                </div>
                            </div>
                            <div class="woocommerce-tabs wc-tabs-wrapper">
                                <ul class="tabs wc-tabs">
                                    <li class="description_tab">
                                        <a href="#tab-description">Description</a>
                                    </li>
                                    <li class="reviews_tab">
                                        <a href="#tab-reviews">Reviews (0)</a>
                                    </li>
                                </ul>
                                <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab" id="tab-description">
                                    <h2>Product Description</h2>
                                    <p>
                                        Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa,
                                        quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.
                                        nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit,
                                        sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt,
                                        neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur,
                                        adipisci velit, sed quia non numquam eius modi tempora incidunt,
                                        ut labore et dolore magnam aliquam quaerat voluptatem.
                                        ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                                        nisi ut aliquid ex ea commodi consequatur? quis autem vel eum iure reprehenderit.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </div>
                                <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--reviews panel entry-content wc-tab" id="tab-reviews">
                                    <div id="reviews" class="woocommerce-Reviews">
                                        <div id="comments">
                                            <h2 class="woocommerce-Reviews-title">Reviews</h2>
                                            <p class="woocommerce-noreviews">There are no reviews yet.</p>
                                        </div>
                                        <div id="review_form_wrapper">
                                            <div id="review_form">
                                                <div id="respond" class="comment-respond">
                                                    <h3 id="reply-title" class="comment-reply-title">Be the first to review “Bruder Toys Mini Excavator Vehicle”</h3>
                                                    <form action="#" method="post" id="commentform" class="comment-form">
                                                        <div class="wp-social-login-widget">
                                                            <div class="wp-social-login-connect-with">Connect with:</div>
                                                            <div class="wp-social-login-provider-list">
                                                                <a rel="nofollow" href="#" title="Connect with Facebook" class="wp-social-login-provider wp-social-login-provider-facebook" data-provider="Facebook">
                                                                    <img alt="" title="Connect with Facebook" src="images/facebook.png" />
                                                                </a>
                                                                <a rel="nofollow" href="#" title="Connect with Google" class="wp-social-login-provider wp-social-login-provider-google" data-provider="Google">
                                                                    <img alt="" title="Connect with Google" src="images/google.png" />
                                                                </a>
                                                                <a rel="nofollow" href="#" title="Connect with Twitter" class="wp-social-login-provider wp-social-login-provider-twitter" data-provider="Twitter">
                                                                    <img alt="" title="Connect with Twitter" src="images/twitter.png" />
                                                                </a>
                                                            </div>
                                                            <div class="wp-social-login-widget-clearing"></div>
                                                        </div>
                                                        <p class="comment-notes">
                                                            <span id="email-notes">Your email address will not be published.</span>
                                                            Required fields are marked
                                                            <span class="required">*</span>
                                                        </p>
                                                        <p class="comment-form-rating">
                                                            <label for="rating">Your Rating</label>
                                                            <select name="rating" id="rating" aria-required="true" required>
                                                                <option value="">Rate&hellip;</option>
                                                                <option value="5">Perfect</option>
                                                                <option value="4">Good</option>
                                                                <option value="3">Average</option>
                                                                <option value="2">Not that bad</option>
                                                                <option value="1">Very Poor</option>
                                                            </select>
                                                        </p>
                                                        <p class="comment-form-comment">
                                                            <label for="comment">Your Review
                                                                <span class="required">*</span>
                                                            </label>
                                                            <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true" required></textarea>
                                                        </p>
                                                        <p class="comment-form-author">
                                                            <label for="author">Name
                                                                <span class="required">*</span>
                                                            </label>
                                                            <input id="author" name="author" type="text" value="" size="30" aria-required="true" required />
                                                        </p>
                                                        <p class="comment-form-email">
                                                            <label for="email">Email
                                                                <span class="required">*</span>
                                                            </label>
                                                            <input id="email" name="email" type="email" value="" size="30" aria-required="true" required />
                                                        </p>
                                                        <p class="form-submit">
                                                            <input name="submit" type="submit" id="submit" class="submit" value="Submit" />
                                                            <input type='hidden' name='comment_post_ID' value='263' id='comment_post_ID' />
                                                            <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                                        </p>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="related products">
                                <h2>Related Products</h2>
                                <ul class="products">
                                    <li class="product has-post-thumbnail column-1_4 first">
                                        <div class="post_item_wrap">
                                            <div class="post_featured">
                                                <div class="post_thumb">
                                                    <a class="hover_icon hover_icon_link" href="single-product.html">
                                                        <img width="300" height="300" src="{% static 'images/product_19-300x300.jpg' %}" class="attachment-shop_catalog size-shop_catalog" alt="" title="product_19" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="post_content">
                                                <h3>
                                                    <a href="single-product.html">Outdoor Camping Adventures Vehicle in Pink</a>
                                                </h3>
                                                <span class="price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">&#36;</span>111.99
                                                    </span>
                                                </span>
                                                <a rel="nofollow" href="single-product.html" data-quantity="1" data-product_id="284" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product has-post-thumbnail column-1_4 ">
                                        <div class="post_item_wrap">
                                            <div class="post_featured">
                                                <div class="post_thumb">
                                                    <a class="hover_icon hover_icon_link" href="single-product.html">
                                                        <img width="300" height="300" src="{% static 'images/product_6-300x300.jpg' %}" class="attachment-shop_catalog size-shop_catalog" alt="" title="product_6" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="post_content">
                                                <h3>
                                                    <a href="single-product.html">VTech Sit-to-Stand Learning Walker</a>
                                                </h3>
                                                <span class="price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">&#36;</span>24.99
                                                    </span>
                                                </span>
                                                <a rel="nofollow" href="{% static 'single-product.html' %}" data-quantity="1" data-product_id="266" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product has-post-thumbnail column-1_4 ">
                                        <div class="post_item_wrap">
                                            <div class="post_featured">
                                                <div class="post_thumb">
                                                    <a class="hover_icon hover_icon_link" href="single-product.html">
                                                        <img width="300" height="300" src="{% static 'images/product_5-300x300.jpg' %}" class="attachment-shop_catalog size-shop_catalog" alt="" title="product_5" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="post_content">
                                                <h3>
                                                    <a href="single-product.html">Despicable Me Minions Sandwich Box</a>
                                                </h3>
                                                <span class="price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">&#36;</span>11.99
                                                    </span>
                                                </span>
                                                <a rel="nofollow" href="{% static 'single-product.html' %}" data-quantity="1" data-product_id="267" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product has-post-thumbnail column-1_4 last">
                                        <div class="post_item_wrap">
                                            <div class="post_featured">
                                                <div class="post_thumb">
                                                    <a class="hover_icon hover_icon_link" href="single-product.html">
                                                        <img width="300" height="300" src="{% static 'images/product_20-300x300.jpg' %}" class="attachment-shop_catalog size-shop_catalog" alt="" title="product_20" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="post_content">
                                                <h3>
                                                    <a href="single-product.html">RoomMates SpongeBob Stick Wall Decals</a>
                                                </h3>
                                                <span class="price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">&#36;</span>90.55
                                                    </span>
                                                </span>
                                                <a rel="nofollow" href="single-product.html" data-quantity="1" data-product_id="283" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>


        {% include 'footer.html' %}

        <div class="copyright_wrap copyright_style_text  scheme_original">
            <div class="copyright_wrap_inner">
                <div class="content_wrap">
                    <div class="copyright_text">
                        <figure class="sc_image alignright sc_image_shape_square">
                            <img src="{% static 'images/Visa.png' %}" alt="" />
                        </figure>
                        <p>Juno © 2019 All rights reserved.
                            <a href="#">Terms of Use</a> and
                            <a href="#">Privacy Policy</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popup_registration" class="popup_wrap popup_registration bg_tint_light">
    <a href="#" class="popup_close"></a>
    <div class="form_wrap">
        <form name="registration_form" method="post" class="popup_form registration_form">
            <input type="hidden" name="redirect_to" value="index.html" />
            <div class="form_left">
                <div class="popup_form_field login_field iconed_field icon-user">
                    <input type="text" id="registration_username" name="registration_username" value="" placeholder="User name (login)">
                </div>
                <div class="popup_form_field email_field iconed_field icon-mail">
                    <input type="text" id="registration_email" name="registration_email" value="" placeholder="E-mail">
                </div>
                <div class="popup_form_field agree_field">
                    <input type="checkbox" value="agree" id="registration_agree" name="registration_agree">
                    <label for="registration_agree">I agree with</label>
                    <a href="#">Terms &amp; Conditions</a>
                </div>
                <div class="popup_form_field submit_field">
                    <input type="submit" class="submit_button" value="Sign Up">
                </div>
            </div>
            <div class="form_right">
                <div class="popup_form_field password_field iconed_field icon-lock">
                    <input type="password" id="registration_pwd" name="registration_pwd" value="" placeholder="Password">
                </div>
                <div class="popup_form_field password_field iconed_field icon-lock">
                    <input type="password" id="registration_pwd2" name="registration_pwd2" value="" placeholder="Confirm Password">
                </div>
                <div class="popup_form_field description_field">Minimum 6 characters</div>
            </div>
        </form>
        <div class="result message_block"></div>
    </div>
</div>
<div id="popup_login" class="popup_wrap popup_login bg_tint_light">
    <a href="#" class="popup_close"></a>
    <div class="form_wrap">
        <div class="form_left">
            <form action="#" method="post" name="login_form" class="popup_form login_form">
                <input type="hidden" name="redirect_to" value="index.html">
                <div class="popup_form_field login_field iconed_field icon-user">
                    <input type="text" id="log" name="log" value="" placeholder="Login or Email">
                </div>
                <div class="popup_form_field password_field iconed_field icon-lock">
                    <input type="password" id="password" name="pwd" value="" placeholder="Password">
                </div>
                <div class="popup_form_field remember_field">
                    <a href="#" class="forgot_password">Forgot password?</a>
                    <input type="checkbox" value="forever" id="rememberme" name="rememberme">
                    <label for="rememberme">Remember me</label>
                </div>
                <div class="popup_form_field submit_field">
                    <input type="submit" class="submit_button" value="Login">
                </div>
            </form>
        </div>
        <div class="form_right">
            <div class="login_socials_title">You can login using your social profile</div>
            <div class="loginSoc login_plugin">

                <div class="wp-social-login-widget">
                    <div class="wp-social-login-connect-with">Connect with:</div>
                    <div class="wp-social-login-provider-list">
                        <a rel="nofollow" href="#" title="Connect with Facebook" class="wp-social-login-provider wp-social-login-provider-facebook" data-provider="Facebook">
                            <img alt="" title="Connect with Facebook" src="{% static 'images/facebook.png' %}" />
                        </a>
                        <a rel="nofollow" href="#" title="Connect with Google" class="wp-social-login-provider wp-social-login-provider-google" data-provider="Google">
                            <img alt="" title="Connect with Google" src="{% static 'images/google.png' %}" />
                        </a>
                        <a rel="nofollow" href="#" title="Connect with Twitter" class="wp-social-login-provider wp-social-login-provider-twitter" data-provider="Twitter">
                            <img alt="" title="Connect with Twitter" src="{% static 'images/twitter.png' %}" />
                        </a>
                    </div>
                    <div class="wp-social-login-widget-clearing"></div>
                </div>

            </div>
            <div class="result message_block"></div>
        </div>
    </div>
</div>
<a href="#" class="scroll_to_top" title="Scroll to top"></a>
<div class="custom_html_section"></div>
<script type='text/javascript' src='{% static "js/vendor/jquery/jquery.js" %}'></script>
<script type='text/javascript' src='{% static "js/vendor/jquery/jquery-migrate.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/custom/custom.js" %}'></script>
<script type='text/javascript' src='{% static "js/vendor/woo/add-to-cart.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/vendor/woo/woocommerce-add-to-cart.js" %}'></script>
<script type='text/javascript' src='{% static "js/vendor/photostack/modernizr.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/vendor/woo/jquery.prettyPhoto.min.js?ver=3.1.6" %}'></script>
<script type='text/javascript' src='{% static "js/vendor/woo/jquery.prettyPhoto.init.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/vendor/woo/single-product.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/vendor/woo/jquery.blockUI.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/vendor/woo/woocommerce.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/vendor/woo/jquery.cookie.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/vendor/woo/cart-fragments.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/vendor/superfish.js" %}'></script>
<script type='text/javascript' src='{% static "js/custom/jquery/core.utils.js" %}'></script>
<script type='text/javascript' src='{% static "js/custom/jquery/core.init.js" %}'></script>
<script type='text/javascript' src='{% static "js/custom/jquery/theme.init.js" %}'></script>
<script type='text/javascript' src='{% static "js/vendor/comment-reply.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/custom/jquery/theme.shortcodes.js" %}'></script>
<script type='text/javascript' src='{% static "js/custom/jquery/core.messages.js" %}'></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"74e4e326b85d2d97","token":"dab7be3e6ab04952b40d6c8e93f6cc2a","version":"2022.8.1","si":100}' crossorigin="anonymous"></script>
</body>
{% endblock main %}
